# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Environment variables
.env
backend/.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# Node / React
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log